* {
  color:black;
  font-weight: 500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(12, 29, 0);
  color: white;
  font-size:20px;
  background-image: url("https://media.istockphoto.com/id/506164764/photo/tractor-spraying-soybean-field.jpg?s=2048x2048&w=is&k=20&c=pEY0xp1phwaP5OdXDeJyCNnXd7CnB4hhBxFhjiIdkOo=");
  background-size: cover;
}
#welcome{
  color: black;
}
#classify{
  margin-left:30px;
}
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
h3 {
  padding:10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:500;
}
.NavBar {
  padding:5px;
  margin:20px 10px 20px 20px;
}

.navElement {
  margin:20px 10px 20px 20px;
}

#Pchoosefile {
  padding:5px;
  margin:10px 25px 10px 25px;
}
#plants {
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-style: oblique;
}
#animals {
  color: black;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-style: oblique;
}